
<div>
    <footer class="footer" navbar-fixed-bottom>
        <div class="container">copyright 2017 @ybleeho</div>
    </footer>
</div>
</body>
    <script src="/javascripts/jquery-3.2.1.js"></script>
    <script src="/javascripts/bootstrap.js"></script>

</html>